In [1]:
#pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp310-cp310-macosx_10_9_universal2.whl (17.7 MB)
     |████████████████████████████████| 17.7 MB 4.0 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 2.9 MB/s
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.4 pytz-2021.3
WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
##Import Pandas
import pandas as pd

In [3]:
##Reading the CSV file using pd.read_csv
HDestinations = pd.read_csv("HolidayDestinations.csv")
print(HDestinations)

                 Unnamed: 0                 Unnamed: 1   Unnamed: 2  \
0                       NaN                        NaN          NaN
1              Destinations  FeedBack Score(Out of 10)  Star Rating
2       Antalya City,Turkey                          9    _________
3                 JBR,Dubai                          7      _______
4             Dakar,Senegal                          5        _____
5       Balaclava,Mauritius                         10   __________
6            Kaafu,Maldives                         10   __________
7     Kuala Lumpur,Malaysia                          8     ________
8           Istanbul,Turkey                          5        _____
9              Belek,Turkey                          6       ______
10          Cocoon,Maldives                         10   __________
11              Ibiza,Spain                          8     ________
12            Bodrum,Turkey                          8     ________
13          Downtown, Dubai                         10   __________
14           Mallorca,Spain                          6       ______
15     Canary islands,spain                          8     ________
16  Anse Chastanet,St Lucia                          9    _________

              Unnamed: 3                Unnamed: 4  Unnamed: 5  \
0                    NaN                       NaN         NaN
1   All inclusive Hotels  Most Visited Destination         NaN
2                     25                        80         NaN
3                     20                        76         NaN
4                     10                        20         NaN
5                     30                        36         NaN
6                     20                        20         NaN
7                     15                        20         NaN
8                     22                        65         NaN
9                     30                        75         NaN
10                    25                        38         NaN
11                    15                        90         NaN
12                    35                        80         NaN
13                    28                        75         NaN
14                    14                        95         NaN
15                    18                        60         NaN
16                    10                        25         NaN

    15 Holiday Destinations
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN

In [8]:
## Showing how many rows and columns are there in HDestinations file
##Task1
import pandas as pd
df = pd.DataFrame(HDestinations)
df.shape

(17, 7)

In [9]:
##Number of rows
nrows =df.shape[0]
print(nrows)

17

In [10]:
##Number of columns
ncolumns =df.shape[1]
print(ncolumns)

7

In [11]:
##Printing row 3-8 using Iloc
##Task2
df.iloc[3:8]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,15 Holiday Destinations
3,"JBR,Dubai",7,_______,20,76,NaN,NaN
4,"Dakar,Senegal",5,_____,10,20,NaN,NaN
5,"Balaclava,Mauritius",10,__________,30,36,NaN,NaN
6,"Kaafu,Maldives",10,__________,20,20,NaN,NaN
7,"Kuala Lumpur,Malaysia",8,________,15,20,NaN,NaN

In [4]:
##Printing roww 3-8 using Loc
##Task2
import pandas as pd
HDestinations = pd.read_csv("HolidayDestinations.csv")
df = pd.DataFrame(HDestinations)
df.loc[3:8]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,15 Holiday Destinations
3,"JBR,Dubai",7,_______,20,76,NaN,NaN
4,"Dakar,Senegal",5,_____,10,20,NaN,NaN
5,"Balaclava,Mauritius",10,__________,30,36,NaN,NaN
6,"Kaafu,Maldives",10,__________,20,20,NaN,NaN
7,"Kuala Lumpur,Malaysia",8,________,15,20,NaN,NaN
8,"Istanbul,Turkey",5,_____,22,65,NaN,NaN

In [127]:
##Finding the mean number of All-inclusive Hotels across all destinations.
##Task3
import pandas as pd
import numpy as np

HDestinations = pd.read_csv("HolidayDestinations.csv")
df = pd.DataFrame(HDestinations)
#df1 = pd.DataFrame(HDestinations,
 #               pd.Index(['Destinations','FeedBack Score Out of 10','Star Rating',
  #              'All  inclusive Hotels','Most Visited destination'],name ="attributes"))

#df1
df.iloc[:,3].apply

<bound method Series.apply of 0                      NaN
1     All inclusive Hotels
2                       25
3                       20
4                       10
5                       30
6                       20
7                       15
8                       22
9                       30
10                      25
11                      15
12                      35
13                      28
14                      14
15                      18
16                      10
Name: Unnamed: 3, dtype: object>

In [101]:
##finding The lowest scoring destination
HDestinations = pd.read_csv("HolidayDestinations.csv")

print(HDestinations)

                 Unnamed: 0                 Unnamed: 1   Unnamed: 2  \
0                       NaN                        NaN          NaN
1              Destinations  FeedBack Score(Out of 10)  Star Rating
2       Antalya City,Turkey                          9    _________
3                 JBR,Dubai                          7      _______
4             Dakar,Senegal                          5        _____
5       Balaclava,Mauritius                         10   __________
6            Kaafu,Maldives                         10   __________
7     Kuala Lumpur,Malaysia                          8     ________
8           Istanbul,Turkey                          5        _____
9              Belek,Turkey                          6       ______
10          Cocoon,Maldives                         10   __________
11              Ibiza,Spain                          8     ________
12            Bodrum,Turkey                          8     ________
13          Downtown, Dubai                         10   __________
14           Mallorca,Spain                          6       ______
15     Canary islands,spain                          8     ________
16  Anse Chastanet,St Lucia                          9    _________

              Unnamed: 3                Unnamed: 4  Unnamed: 5  \
0                    NaN                       NaN         NaN
1   All inclusive Hotels  Most Visited Destination         NaN
2                     25                        80         NaN
3                     20                        76         NaN
4                     10                        20         NaN
5                     30                        36         NaN
6                     20                        20         NaN
7                     15                        20         NaN
8                     22                        65         NaN
9                     30                        75         NaN
10                    25                        38         NaN
11                    15                        90         NaN
12                    35                        80         NaN
13                    28                        75         NaN
14                    14                        95         NaN
15                    18                        60         NaN
16                    10                        25         NaN

    15 Holiday Destinations
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN

In [60]:
dest_min = df.min(axis=1)
dest_min

/var/folders/n1/p3xhg6gs7l32rmjz8v54pmx00000gp/T/ipykernel_40901/1226447768.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dest_min = df.min(axis=1)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
dtype: float64

In [91]:
dest_min =df.iloc[:2]
dest_min

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,15 Holiday Destinations
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Destinations,FeedBack Score(Out of 10),Star Rating,All inclusive Hotels,Most Visited Destination,NaN,NaN

In [96]:
col_max = df.max(axis=1)
col_max

/var/folders/n1/p3xhg6gs7l32rmjz8v54pmx00000gp/T/ipykernel_40901/1695391096.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  col_max = df.max(axis=1)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
dtype: float64

In [159]:
import pandas as pd

HDestinations = pd.read_csv("HolidayDestinations.csv")
print(HDestinations.tail())

                 Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3 Unnamed: 4  \
12            Bodrum,Turkey          8    ________         35         80
13          Downtown, Dubai         10  __________         28         75
14           Mallorca,Spain          6      ______         14         95
15     Canary islands,spain          8    ________         18         60
16  Anse Chastanet,St Lucia          9   _________         10         25

    Unnamed: 5  15 Holiday Destinations
12         NaN                      NaN
13         NaN                      NaN
14         NaN                      NaN
15         NaN                      NaN
16         NaN                      NaN

In [131]:
import pandas as pd


HDestinations = pd.read_csv("HolidayDestinations.csv")
##df = pd.DataFrame(HDestinations)
##df.iloc[:,3].mean()
print(HDestinations.head())

            Unnamed: 0                 Unnamed: 1   Unnamed: 2  \
0                  NaN                        NaN          NaN
1         Destinations  FeedBack Score(Out of 10)  Star Rating
2  Antalya City,Turkey                          9    _________
3            JBR,Dubai                          7      _______
4        Dakar,Senegal                          5        _____

             Unnamed: 3                Unnamed: 4  Unnamed: 5  \
0                   NaN                       NaN         NaN
1  All inclusive Hotels  Most Visited Destination         NaN
2                    25                        80         NaN
3                    20                        76         NaN
4                    10                        20         NaN

   15 Holiday Destinations
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN

In [151]:
import pandas as pd


HDestinations = pd.read_csv("HolidayDestinations.csv")
df = pd.DataFrame(HDestinations)
df.iloc[:,4].apply

<bound method Series.apply of 0                          NaN
1     Most Visited Destination
2                           80
3                           76
4                           20
5                           36
6                           20
7                           20
8                           65
9                           75
10                          38
11                          90
12                          80
13                          75
14                          95
15                          60
16                          25
Name: Unnamed: 4, dtype: object>

In [154]:
myfilter = df.iloc[:,1]
print(myfilter)

0                           NaN
1     FeedBack Score(Out of 10)
2                             9
3                             7
4                             5
5                            10
6                            10
7                             8
8                             5
9                             6
10                           10
11                            8
12                            8
13                           10
14                            6
15                            8
16                            9
Name: Unnamed: 1, dtype: object